# Core libraries
numpy==1.21.5
pandas==1.4.2
matplotlib==3.5.1
scipy==1.7.3
scikit-learn==1.0.2

# Causal inference
dowhy==0.9.1
econml==0.14.0
networkx==2.8.4
pygraphviz==1.7
graphviz==0.16
pydot==1.4.2

# Data fetching
astropy==5.1
astroquery==0.4.6
pyvo==1.1

# Dashboard
dash==2.8.1
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
flask==2.2.3
plotly==5.14.1
gunicorn==20.1.0

# Tests and development
pytest==7.3.1
black==23.3.0
pylint==2.17.0
mypy==1.2.0 